<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <display-name>SenasaWebServices</display-name>
  <servlet>
    <servlet-name>AgenteAduanasPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.AgenteAduanasWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExportacionZoosanitariaWSPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.ExportacionZoosanitariaWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>GeografiaPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.GeografiaWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InspectorWSPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.InspectorWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>FuncionarioWSPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.FuncionarioWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PermisoFitosanitarioImportacionPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.PermisoFitosanitarioImportacionWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PermisoZoosanitarioImportacionWSPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.PermisoZoosanitarioImportacionWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ProductoWsPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.ProductoWs</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>RegistroCPEWSPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.RegistroCPEWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>RequisitosDocumentalesWSPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.RequisitosDocumentalesWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServicioTUPAPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.ServicioTUPAWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>TratamientoWSPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.TratamientoWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>AnalisisUCDSVPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.AnalisisUCDSV</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SolicitantePort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.SolicitanteWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>DirectorioSenasaPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.DirectorioSenasaWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>DocumentosPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.Documentos</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PermisoFitosanitarioExportacionPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.PermisoFitoSanitarioExportacionWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>GeneralWSPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.GeneralWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PagosPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.PagosWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>VerificaCierrePort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.VerificaCierreWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>TramiteDocumentarioPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.TramiteDocumentarioWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InspecionVerificacionWSPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.InspecionVerificacionWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InspeccionPort</servlet-name>
    <servlet-class>pe.gob.senasa.ws.InspeccionWS</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet> 
 <servlet>
  <servlet-name>CertificacionFitoLugarProduccion</servlet-name>
  <servlet-class>pe.gob.senasa.ws.CertificacionFitoLugarProduccionWS</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 
  <servlet-mapping>
    <servlet-name>AgenteAduanasPort</servlet-name>
    <url-pattern>/AgenteAduanasPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportacionZoosanitariaWSPort</servlet-name>
    <url-pattern>/ExportacionZoosanitariaWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeografiaPort</servlet-name>
    <url-pattern>/GeografiaPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InspectorWSPort</servlet-name>
    <url-pattern>/InspectorWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PermisoFitosanitarioImportacionPort</servlet-name>
    <url-pattern>/PermisoFitosanitarioImportacionPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PermisoZoosanitarioImportacionWSPort</servlet-name>
    <url-pattern>/PermisoZoosanitarioImportacionWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductoWsPort</servlet-name>
    <url-pattern>/ProductoWsPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistroCPEWSPort</servlet-name>
    <url-pattern>/RegistroCPEWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequisitosDocumentalesWSPort</servlet-name>
    <url-pattern>/RequisitosDocumentalesWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServicioTUPAPort</servlet-name>
    <url-pattern>/ServicioTUPAPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TratamientoWSPort</servlet-name>
    <url-pattern>/TratamientoWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnalisisUCDSVPort</servlet-name>
    <url-pattern>/AnalisisUCDSVPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SolicitantePort</servlet-name>
    <url-pattern>/SolicitantePort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumentosPort</servlet-name>
    <url-pattern>/DocumentosPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PermisoFitosanitarioExportacionPort</servlet-name>
    <url-pattern>/PermisoFitosanitarioExportacionPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeneralWSPort</servlet-name>
    <url-pattern>/GeneralWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FuncionarioWSPort</servlet-name>
    <url-pattern>/FuncionarioWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PagosPort</servlet-name>
    <url-pattern>/PagosPort</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DirectorioSenasaPort</servlet-name>
    <url-pattern>/DirectorioSenasaPort</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>VerificaCierrePort</servlet-name>
    <url-pattern>/VerificaCierrePort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TramiteDocumentarioPort</servlet-name>
    <url-pattern>/TramiteDocumentarioPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InspecionVerificacionWSPort</servlet-name>
    <url-pattern>/InspecionVerificacionWSPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InspeccionPort</servlet-name>
    <url-pattern>/InspeccionPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CertificacionFitoLugarProduccion</servlet-name>
    <url-pattern>/CertificacionFitoLugarProduccion</url-pattern>
  </servlet-mapping>
   
  <resource-env-ref>
    <resource-env-ref-name></resource-env-ref-name>
  </resource-env-ref>
  <resource-ref>
        <res-ref-name>senasaDataSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
  <resource-ref>
        <res-ref-name>dsVUCE</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
